.QDe-para {
  /* width: 183px; */
  height: 30px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #09204c;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.QDe-head {
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #09204c;
}

.QDe-para2 {
  width: 200px;
  height: 38px;
  margin: 20px 56px 49px 55px;
  object-fit: contain;
  font-family: Nunito;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.26px;
  text-align: center;
  color: #535353;
  margin-left: auto;
  margin-right: auto;
}

.sorry {
  letter-spacing: -0.03px;
  text-align: center;
  color: #417505;
}

.QDe-save {
  display: flex;
  text-align: center;
  //  border:2px solid pink;
  justify-content: center;
}

.QDe-inner-save {
  margin: 0;
  width: 300px;
  justify-self: center;
}
