table,
td,
th {
  border: 1px solid #ddd;
  text-align: left;
  border: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 10px;
  text-align: left;
}

// --------------ddeGST---------------------------->
.radioDDEgst {
  // border:5px solid #f1f1f1b9
}

.DDEgstRadio {
  padding: 10px;
}

input[type="radio"] {
  border: 0px;
  width: 100%;
  height: 1.5em;
  cursor: pointer;
}

.DDEgstTxt {
  // font-size: 16px;
  font-weight: 600;
  align-self: center;
  margin-right: 5px;
}

.DDEgsttxt {
  display: flex;
  text-align: center;
  // border:2px solid green;
  // margin:0 10px
}

.DDEgstTxtParent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px;
}
.DDEgstTxtParent > * {
  text-align: center;
}

.DDEgstValue {
  // color:#3f3f3f;
  color: #262626;
  display: flex;
  align-items: center;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}

.DDEgstTable {
  margin: 0 5px;
  th{
    background-color: #334e9e;
    color: #fff;
  }
}
// ---------------ddeITR----------------------->
.DDEitrLabel {
  margin-left: 5px;
}

.DDEitrUpload {
  width: 300px;
  // border:2px solid greenyellow
  // margin-left: 2px;
}

.toolkitDDEitr {
  margin-left: 5px;
  // border: 2px solid yellowgreen;
  margin-top: 10px !important;
  color: #334e9e !important;
}

// -------------ddeBank-------------------------->


.tooltip-txt{
  font-size: 14px;
  padding:0 10px;
  line-height: 1.17;
  letter-spacing: -0.06px;
  // background-color: aqua;
}

.DDEbank {
  margin: 20px;
  padding-top: 10px;
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  // border: 2px solid rgba(236, 236, 236, 0.877);
  .TxtGroup {
    // border: 2px solid rgb(218, 32, 79);
    display: flex;
    align-items: center;
    // height: ;
  }
}

.TxtDdeBank {
  // display: flex;
  margin-left: 20px;
  // border: 2px solid rgb(218, 32, 187);
}

.DDEbankDropdown {
  margin: 0 20px;
  //  border: 2px solid goldenrod;
}
.ddeCheckLabel {
  color: #334e9e;
  font-weight: 600;
}
.ddeCheckTxt {
  font-weight: 400;
  color: #3f3f3f;
}
.uploadImage {
  width: 59px;
  height: 59px;
  margin: 0 7.7px 0 0;
  padding: 15px 14px;
  background-color: #334e9e;
  border-radius: 50%;
  font-size: 30px;
  vertical-align: inherit;
  display: flex;
  color: white;
  // position: absolute;
}

.uploadDDEbankThirdRow {
  display: flex;
  justify-content: space-between;
  margin: 0 18px;
  margin-right: 50px;
  // border:2px solid rgb(47, 172, 255);
}
.uploadDDEbank {
  margin-left: 20px;
  // border:2px solid greenyellow
}

// ------------button------------------------>

.DDEbankBtn {
  background-color: #334e9e !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-plus-circle {
  margin-right: 5px;
  font-size: 20px;
  color: #fff;
}
.DDEbankBtnTxt {
  background-color: #334e9e;
  color: white;
}

.fsa-container {
  padding: 3%;
}

.FSAContainer2 {
  padding: 3%;
}

.dsaUploadLabel {
  color: #334e9e;
  font-weight: 600;
  margin-top: 2%;
}

.ant-space-align-baseline {
  -ms-flex-align: baseline;
  align-items: baseline;
  width: 100%;
}
.ant-space-item {
  margin-right: 8px;
  width: 100%;
}
.anticon[tabindex] {
  cursor: pointer;
  float: right;
}
.mui-dropdown-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.mui-dropdown-wrapper img {
  position: absolute;
  right: 0px;
  top: 15px;
  width: 20px;
  height: 20px;
}

.bankContainermain {
  padding: 3%;
}

.ant-steps {
  .ant-steps-item-finish {
    .ant-steps-item-container {
      .ant-steps-item-tail::after {
        background-color: #417505;
      }
      .ant-steps-item-icon {
        background-color: #417505;
        border-color: #417505;
      }
      .ant-steps-icon {
        color: white;
        font-weight: 400;
      }
      .ant-steps-item-title {
        color: #417505;
      }
    }
  }
  .ant-steps-item {
    .ant-steps-item-container {
      .ant-steps-item-content {
        .ant-steps-item-title {
          font-size: 14px;
          line-height: 15px;
        }
      }
    }
  }
  .ant-steps-item-active {
    .ant-steps-item-container {
      .ant-steps-item-content {
        .ant-steps-item-title {
          color: #334e9e;
          font-weight: bold;
        }
      }
    }
    .ant-steps-item-tail::after {
      background-color: #334e9e;
    }
    .ant-steps-item-icon {
      background-color: #334e9e;
      border-color: #334e9e;
    }
  }
}

//-----------verifyViaCreds------------------------>

.Welcome {
  font-family: "Nunito", sans-serif;
  font-size: 36px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.17px;
  text-align: center;
  color: #334e9e;
}

  .fa-arrow-circle-right {
    // color: ;
    // background-color: #fff;
    border-radius: 50%;
    font-size: 30px;
    // display: flex;
  }
  .loginTxt {
    margin-right: 10px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    padding-left: 20px;
  }


.LoginIcon {
  font-size: 20px;
  background-color: #23366e;
  color: #9ca7c786;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.LoginChildParent{
  width:350px;
  margin-top: -100px;
}
.verifyViaCreds{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}